{% extends "layout.html" %}

{% block title %}Example Page{% endblock %}

{% block header %}Pedestrian Log{% endblock %}

{% block content %}
<div class="section">
    <h4>November 15, 2024</h4>
    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th># of Pedestrians</th>
            </tr>
        </thead>
        <tbody>
        {% for date, number in ped.items() %}
            <tr>
                <td>{{ date }}</td>
                <td>{{ number }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}